# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/images/*
public/images/**/*.jpg
public/images/**/*.jpeg
public/images/**/*.png
public/images/**/*.gif
public/images/**/*.svg
public/images/**/*.webp
public/images/**/*.ico
public/images/**/*.bmp